<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tfandkusu.template.info.view">

    <application>
        <activity-alias
            android:name="com.tfandkusu.template.view.info.InfoActivityAlias"
            android:targetActivity="com.tfandkusu.template.view.info.InfoActivity" />
        <activity
            android:name="com.tfandkusu.template.view.info.InfoActivity"
            android:exported="false"
            android:label="@string/title_info" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/OssTheme" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/OssTheme" />
    </application>

</manifest>
